html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-bar {
    width: 100%;
    box-shadow: 2px 2px 5px #ffffff;
}

.nav-bar-item {
    color: inherit;
}

.nav-bar-item:hover {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
    background: linear-gradient(454deg, #4f4080, #9553ff);
}

.container-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#down-arrow {
    justify-content: center;
    width: 50px;
}

#personal-image{
    width: 300px;
    box-shadow: 5px 5px 5px #4f4080
}

#education-section {
    padding: 50px;
    padding-bottom: 80px;
    min-height: 100vh;

}

#education-title {
    padding: 40px;
}

#school {
    align-items: start;
    padding: 50px;
}

#school * { 
    margin: 4px;
}

#coursework {
    justify-content: center;
}
